<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            text-align: center;
            font-size: 10vw;
        }
    </style>
    <meta charset="UTF-8">
    <title>好好坐着</title>
    <script>
        function showImg(file){
            var reader = new FileReader();
            reader.onload = function (evt){
                document.getElementById('myImage').src = evt.target.result;
            }
            reader.readAsDataURL(file.files[0])
        }
    </script>
</head>
<body>
欢迎使用坐姿检测器(｡･∀･)ﾉﾞ嗨
<p style="font-size: 2vw">{{advice}}</p>
    <form method="post" action="/upload" enctype="multipart/form-data" style="font-size: 2vw">
        <input type="file" name="myImg" onchange="showImg(this)">
        <input type="submit" value="就这样">
    </form>
    <br>
    <img id="myImage">
<img src="../static/imgs/img.jpg">
<img src="../static/output/out.jpg">
</body>
</html>